<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/estilos/style.css">
		<link rel="shortcut icon" href="../static/imagens/icone.ico" type="image/x-icon">

    <title>Contribua</title>
	
	<style>
		.espacamento{
			padding: 3%;
		
		}
		
		.top{
			padding: 1%;
		}
	</style>
</head>
<body>
    <header>
        <nav class="header-nav">
            <img class="fatec" src="../static/imagens/fatec-200.png" alt="fatec"></img>
            
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/projetos">PROJETOS</a></li> <!-- Vai redirecionar para a  Página De Projetos-->
            </ul>
        </nav>
    </header>
    <main>
        <div class="top">
            <h1>Contribua</h1>
            

        </div>
			
        <article>
            <aside class="espacamento">

                <h2>Como contribuir?</h2>
               
                <p>	Para ser um contribuidor é necessário preencher o formulário de requisição de acesso que será analisado pelo gerenciamento da FATEC. 
                    O acesso permite controle ao repositório de projetos de API disponibilizados na plataforma de versionamento GITHUB. 
                    Dessa forma, torna-se viável o acompanhamento e manipulação dos projetos clonados e que poderão ser adicionados posteriormente, além do acesso livre aos códigos do site (HTML, CSS) e automatização da clonagem via Python. 
                </p>
				
				<div>

                <form  method="get">
                    <p>Seu nome: </p>
                        <input type="txt" name="nome" ><br>
                    <p>Email: </p>
                        <input type="txt" name="email" ><br>
                   
                       <input type="submit" value="Enviar">
                    </form>
                    
            </div>
                
                    {% if resultado %}
                    <div>
                    {{resultado}}
                    </div>
                    {% endif %}

            </aside>
        </article>
    </main>
    <footer>
        <picture>
                <source media="(max-width: 490px )" srcset="../static/imagens/brasao-200.png" type="image/png">
                 <img class="fatec-gov" src="../static/imagens/cps_brasao_sp_320x84.png" alt="brasão"></img>
            </picture>
        
        <nav class="footer">
            <aside class="link">
                <a href="/">HOME</a>
                <a href="/projetos">PROJETOS</a> <!-- Vai redirecionar para a  Página De Projetos-->
            </aside>
            <aside class="social">
                <a href="https://www.instagram.com/fatecsaojosedoscampos/" target="_blank" rel="external"><img src="../static/imagens/instagram-40.png" alt="instagram"></img></a>
                <a href="https://www.linkedin.com/school/fatecjessenvidal" target="_blank" rel="external"><img src="../static/imagens/linkedin-40.png" alt="linkedin"></img></a>
            
                <a href="https://www.youtube.com/channel/UCRTd_ST0vPqXi4w_ZdfXtiw" target="_blank" rel="external"><img src="../static/imagens/youtube-40.png" alt="youtube"></img></a>
                <a href="https://www.facebook.com/fatecjessenvidal" target="_blank" rel="external"><img src="../static/imagens/facebook-40.png" alt="facebook"></img></a>
            </aside>
        </nav>
    </footer>
</body>
</html>





</body>
</html>
