<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="estilos/style.css">
		<link rel="stylesheet" href="static/estilos/equipe.css">
		<link rel="shortcut icon" href="../imagens/icone.ico" type="image/x-icon">
        <title>Enviado</title>
		<style>
			body{
				margin: 0px;
				background-color: #c2e7f1;
			}
			.voltar{
				height: 100px;
				width: 100px
			}
			.aside-p{
				height: 400px;
				width: 500px;
				margin: auto;
				margin-top: 5%;
			}
		</style>
    </head>
	<body>
		
		<main>
			
				<aside class="aside-p">
				<h1 id="h1">Email enviado com sucesso!</h1>
					<p>Clique na imagem para voltar</p>
					<a href="/contribua"><img class="voltar" src="https://cdn-icons-png.flaticon.com/512/93/93634.png" alt="voltar"></img>
					</a>
					
				</aside>
			
		</main>
		
	</body>
</html>