<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../front-end/static/estilos/style.css">
		<link rel="shortcut icon" href="../imagens/icone.ico" type="image/x-icon">
        <title>Home</title>
    </head>
	<body>
		<header>
			<nav class="header-nav">
				<img class="fatec" src="../imagens/fatec-200.png" alt="fatec"></img>
				<ul>
					<li><a href="index.html">HOME</a></li>
					<li><a href="projetos.html">PROJETOS</a></li> <!-- Vai redirecionar para a  Página De Projetos-->
				</ul>
			</nav>
		</header>
		<main>
			<div class="top">
				<h1>API - Aprendizagem por Projetos Integrados</h1>
				<picture>
							<source media="(max-width: 502px )" srcset="../imagens/fundo-400.jpg" type="image/jpg">
                           <source media="(max-width: 780px )" srcset="../imagens/fundo-500.jpg" type="image/jpg">
                           <img src="../imagens/fundo-700.jpg" alt="imagem de códigos"></img>
                </picture>
				
			</div>
			
			<article>
				<aside>
					<h2>O que é?</h2>
					<p>Os Projetos Integradores são trabalhos interdisciplinarares, que visam desenvolver os conceitos demonstrados em sala de aula. 
						O objetivo principal do projeto integrador é articular de forma teórica e prática, promovendo a valorização das pesquisas individuais e coletivas e também ajudando o aluno
						a se integrar no mercado de trabalho, já que estimula a aplicação dos conhecimentos técnicos e também da metodologia Ágil, que é bastante cobrada atualmente, desde o primeiro semestre do curso.
						Esses trabalhos acontecem sob a orientação de um professor e feita como um produto para um cliente interno ou externo.
					</p><!-- Trocar depois pelo paragrafo correto-->
					<p>	Os APIs iniciaram na FATEC de São José dos Campos no início de 2020 e são desenvolvidos pelos cursos com o nível tecnólogo nas seguintes áreas de tecnologia: Análise e Desenvolvimento de Sistemas, Banco de Dados, 
						Desenvolvimento de Software Multiplataforma, Manutenção de Aeronaves, Manufatura Avançada e Logística.
					</p>
					<p>	Na aba projetos é possível ter acesso maneira fácil e organizada aos projetos de cada equipe, turma, semestre e curso, contendo o link para o código do projeto no Github e também o link 
						para a visualização do vídeo da apresentação final do mesmo.
					</p>
				</aside>
			</article>
		</main>
		<footer>
			<picture>
					<source media="(max-width: 490px )" srcset="../imagens/brasao-200.png" type="image/png">
                     <img class="fatec-gov" src="../imagens/cps_brasao_sp_320x84.png" alt="brasão"></img>
                </picture>
			
			<nav class="footer">
				<aside class="link">
					<a href="index.html">HOME</a>
					<a href="projetos.html">PROJETOS</a> <!-- Vai redirecionar para a  Página De Projetos-->
				</aside>
				<aside class="social">
					<a href="https://www.instagram.com/fatecsaojosedoscampos/" target="_blank" rel="external"><img src="../imagens/instagram-40.png" alt="instagram"></img></a>
					<a href="https://www.linkedin.com/school/fatecjessenvidal" target="_blank" rel="external"><img src="../imagens/linkedin-40.png" alt="linkedin"></img></a>
				
					<a href="https://www.youtube.com/channel/UCRTd_ST0vPqXi4w_ZdfXtiw" target="_blank" rel="external"><img src="../imagens/youtube-40.png" alt="youtube"></img></a>
					<a href="https://www.facebook.com/fatecjessenvidal" target="_blank" rel="external"><img src="../imagens/facebook-40.png" alt="facebook"></img></a>
				</aside>
			</nav>
		</footer>
	</body>
</html>
