<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../static/estilos/style.css">
		<link rel="stylesheet" href="../static/estilos/equipe.css">
		<link rel="shortcut icon" href="../../static/imagens/icone.ico" type="image/x-icon">
        <title>Equipe 2</title>
    </head>
	<body>
		<header>
			<nav class="header-nav">
				<img class="fatec-p" src="../../static/imagens/fatec-200.png" alt="fatec"></img>
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/projetos">PROJETOS</a></li> <!-- Vai redirecionar para a  Página De Projetos-->
				</ul>
			</nav>
		</header>
		<main>
			<article>
				<aside class="aside-p">
				<h1 id="h1">Equipe 2, Análise e Desenvolvimento de Sistemas, 2020 - 2º Semestre, Turma 5ºA</h1>
				
					<a href="https://github.com/Equipe3-API/API_1SEM/tree/main/cursos/analise_e_desenvolvimento_sistemas/2020%20-%202%C2%BA%20Semestre/Turmas/5%C2%BA%20A/Equipes/Equipe%202"target="_blank" rel="external"><picture class="pasta">
						<source media="(max-width: 550px )" srcset="../../static/imagens/github-200.png" type="image/png">
						<source media="(max-width: 720px )" srcset="../../static/imagens/github-100.png" type="image/png">
						<source media="(max-width: 980px )" srcset="../../static/imagens/github-150.png" type="image/png">
						<img src="../../static/imagens/github-200.png" alt="brasão"></img>
					</picture></a>
					<iframe width="420" height="250" src="https://www.youtube.com/embed/mFeVwI7-ROY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</aside>
			</article>
		</main>
		<footer>
			<picture>
					<source media="(max-width: 490px )" srcset="../../static/imagens/brasao-200.png" type="image/png">
                     <img class="fatec-gov" src="../../static/imagens/cps_brasao_sp_320x84.png" alt="brasão"></img>
                </picture>
			
			<nav class="footer">
				<aside class="link">
					<a href="/">HOME</a>
					<a href="/projetos">PROJETOS</a> <!-- Vai redirecionar para a  Página De Projetos-->
				</aside>
				<aside class="social">
					<a href="https://www.instagram.com/fatecsaojosedoscampos/" target="_blank" rel="external"><img src="../../static/imagens/instagram-40.png" alt="instagram"></img></a>
					<a href="https://www.linkedin.com/school/fatecjessenvidal" target="_blank" rel="external"><img src="../../static/imagens/linkedin-40.png" alt="linkedin"></img></a>
				
					<a href="https://www.youtube.com/channel/UCRTd_ST0vPqXi4w_ZdfXtiw" target="_blank" rel="external"><img src="../../static/imagens/youtube-40.png" alt="youtube"></img></a>
					<a href="https://www.facebook.com/fatecjessenvidal" target="_blank" rel="external"><img src="../../static/imagens/facebook-40.png" alt="facebook"></img></a>
				</aside>
			</nav>
		</footer>
	</body>
</html>